{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["transform-regenerator", {
      "asyncGenerators": false,
      "generators": false,
      "async": true
    }]
  ]
}